In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt

# Load solar energy and weather data (replace with your data source)
data = pd.read_excel('main_data.xlsx')

# Feature engineering and data preparation (replace with your specific features)
X = data[['Time_of_Day', 'Day_of_Week', 'Weather_Irradiance', 'Temperature']]
y = data['Energy_Production']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a forecasting model (you can use other models like ARIMA, LSTM, etc.)
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Make short-term and long-term energy forecasts
forecast_short_term = model.predict(X_test)
forecast_long_term = model.predict(X_test)  # Adjust the forecasting horizon as needed

# Evaluate the model
mae = mean_absolute_error(y_test, forecast_short_term)
print(f'Short-Term MAE: {mae}')

# Visualization of short-term forecast (replace with your specific visualizations)
plt.figure(figsize=(10, 6))
plt.plot(data['Timestamp'], data['Energy_Production'], label='Actual Energy Production', marker='o')
plt.plot(X_test.index, forecast_short_term, label='Short-Term Forecast', linestyle='--')
plt.xlabel('Timestamp')
plt.ylabel('Energy Production')
plt.title('Solar Energy Short-Term Forecast')
plt.legend()
plt.grid(True)
plt.show()

In [5]:
import pandas as pd

df = pd.read_excel("main_data.xlsx")

In [6]:
df.head()

,Date,EL_Solar_CarCharging_total_KW,Final,year,Location ID,City,State,Country,Latitude,Longitude,...,DHI Units,DNI Units,GHI Units,Solar Zenith Angle Units,Temperature Units,Pressure Units,Relative Humidity Units,Precipitable Water Units,Wind Direction Units,Wind Speed Units
0,2014-04-12 04:00:00,7.018172e+30,0.0,2014,4,12,2,30,0.0,0,...,0,0.16,4.1,1.739,177.8,68.51,9.0,980.0,0.0,0.0
1,2014-04-12 23:00:00,7.018172e+30,0.0,2014,4,12,21,30,0.0,0,...,0,0.16,5.4,3.103,195.5,96.68,18.0,970.0,0.0,0.0
2,2014-04-13 01:00:00,7.018172e+30,0.0,2014,4,12,23,30,0.0,0,...,0,0.16,6.2,3.025,199.6,100.00,16.0,970.0,0.0,0.0
3,2014-04-13 03:00:00,7.018172e+30,0.0,2014,4,13,1,30,0.0,0,...,0,0.16,4.2,3.281,206.7,100.00,15.0,970.0,0.0,0.0
4,2014-04-13 23:00:00,7.018172e+30,0.0,2014,4,13,21,30,0.0,0,...,0,0.16,7.3,2.600,348.8,100.00,5.0,970.0,0.0,0.0

In [8]:
df['Hours'] = df['Date'].dt.hour
df['Day'] = df['Date'].dt.day

In [12]:
df['Day'].head()

0    12
1    12
2    13
3    13
4    13
Name: Day, dtype: int32

In [22]:
agg_data = df.groupby('Day').agg({'GHI Units': 'sum', 'Final': ['sum', lambda x: (x > 0).sum()]})

In [23]:
agg_data

    GHI Units         Final
          sum           sum <lambda_0>
Day
1    31483.74  23529.380136       1738
2    31030.25  23821.371673       1784
3    31286.22  22772.024790       1770
4    31668.46  24868.146437       1780
5    31362.53  23424.045082       1802
6    31589.14  24484.665554       1810
7    31690.33  24806.474675       1819
8    31878.22  25220.663143       1824
9    32105.89  24080.362646       1820
10   32150.65  22989.380742       1813
11   30716.71  22401.533724       1792
12   29570.91  22975.727310       1766
13   28746.87  24341.688098       1788
14   29195.57  22446.366439       1770
15   30420.13  22948.852799       1765
16   31351.30  24798.718291       1744
17   31514.78  22923.965075       1734
18   32259.51  23796.763849       1731
19   32069.34  23340.872961       1719
20   31969.25  22964.576787       1687
21   31792.73  23059.930782       1712
22   31311.02  23021.632678       1731
23   31419.02  23446.906510       1742
24   31816.72  20894.876678       1730
25   31775.39  23355.733844       1723
26   31829.28  22352.593637       1713
27   32062.19  23252.160513       1726
28   31480.48  20621.842196       1719
29   28997.03  21654.561744       1642
30   28772.48  20627.600939       1592
31   20071.22  13411.916290       1042

In [24]:
agg_data.columns = ['Total GHI Units', 'Total Final', 'Non-Zero Final Count']

In [25]:
agg_data

     Total GHI Units   Total Final  Non-Zero Final Count
Day
1           31483.74  23529.380136                  1738
2           31030.25  23821.371673                  1784
3           31286.22  22772.024790                  1770
4           31668.46  24868.146437                  1780
5           31362.53  23424.045082                  1802
6           31589.14  24484.665554                  1810
7           31690.33  24806.474675                  1819
8           31878.22  25220.663143                  1824
9           32105.89  24080.362646                  1820
10          32150.65  22989.380742                  1813
11          30716.71  22401.533724                  1792
12          29570.91  22975.727310                  1766
13          28746.87  24341.688098                  1788
14          29195.57  22446.366439                  1770
15          30420.13  22948.852799                  1765
16          31351.30  24798.718291                  1744
17          31514.78  22923.965075                  1734
18          32259.51  23796.763849                  1731
19          32069.34  23340.872961                  1719
20          31969.25  22964.576787                  1687
21          31792.73  23059.930782                  1712
22          31311.02  23021.632678                  1731
23          31419.02  23446.906510                  1742
24          31816.72  20894.876678                  1730
25          31775.39  23355.733844                  1723
26          31829.28  22352.593637                  1713
27          32062.19  23252.160513                  1726
28          31480.48  20621.842196                  1719
29          28997.03  21654.561744                  1642
30          28772.48  20627.600939                  1592
31          20071.22  13411.916290                  1042

In [27]:
agg_data['throughput'] = agg_data['Total Final'] / agg_data['Non-Zero Final Count']

In [29]:
max(agg_data['throughput'])

14.21944856107554

In [30]:
agg_data.to_csv("EVC.csv")

In [31]:
df.to_csv("final.csv")

In [78]:
# Assuming 'Date' column contains datetime values
df['Day'] = df['Date'].dt.date  # Extract the date portion

# Define a custom function to count non-zero values
def count_non_zero(x):
    return (x > 0).sum()

# Group the data by day and calculate the sum of 'GHI Units' and 'Final' columns,
# as well as count the number of non-zero 'Final' values for each day.
agg_data = df.groupby(['Day']).agg({'GHI Units': 'sum', 'Final': ['sum', count_non_zero]})

In [79]:
agg_data.head()

           GHI Units       Final
                 sum         sum count_non_zero
Day
2011-06-02      84.7   64.163453             15
2011-06-03     101.9  324.521610             16
2011-06-04      45.2  202.296753             16
2011-06-05      44.6  290.829749             16
2011-06-06      83.4  321.096932             16

In [80]:
agg_data.to_csv("final1.csv")

In [81]:
agg_data.columns = ['Total GHI Units' ,'Total Final', 'Non-Zero Final Count']

In [82]:
agg_data['throughput'] = agg_data['Total Final'] / agg_data['Non-Zero Final Count']

In [83]:
max(agg_data['throughput'])

31.684140533608726

In [84]:
agg_data['efficiency'] = agg_data['throughput'] / (agg_data['Total GHI Units']*16.7)

In [85]:
agg_data['efficiency'].head()

Day
2011-06-02    0.003024
2011-06-03    0.011919
2011-06-04    0.016750
2011-06-05    0.024404
2011-06-06    0.014409
Name: efficiency, dtype: float64

In [86]:
agg_data['efficiency'] = agg_data['efficiency'] * 100

In [87]:
max(agg_data['efficiency'])

8.426014274711093

In [88]:
agg_data.to_csv("final1.csv")