In [124]:
import pandas as pd
import numpy as np

df = pd.read_csv("Merged Data.csv")

df.head()

,Date,EL_Solar_BusBarn_Total_KW,Year,Month,Day,Hour,Minute,DHI,DNI,GHI,...,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure,Global Horizontal UV Irradiance (280-400nm),Global Horizontal UV Irradiance (295-385nm)
0,5/14/11 10:00,0.645141,2011,5,14,9,30,111.0,0,111,...,0,0.153,4.8,2.637,347.4,87.01,10.0,980.0,6.6096,5.1946
1,5/14/11 11:00,1.391401,2011,5,14,10,30,102.0,0,102,...,0,0.153,4.9,2.626,344.0,87.61,11.0,980.0,6.1826,4.8646
2,5/14/11 12:00,2.448775,2011,5,14,11,30,101.0,0,101,...,0,0.153,5.1,2.630,342.1,82.46,11.0,980.0,6.1721,4.8589
3,5/14/11 13:00,2.276763,2011,5,14,12,30,148.0,3,151,...,0,0.153,5.2,2.645,341.1,88.34,11.0,980.0,9.2306,7.2668
4,5/14/11 14:00,1.751587,2011,5,14,13,30,236.0,11,246,...,0,0.153,5.2,2.655,340.7,88.54,10.0,980.0,14.9266,11.7455

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

# Extract just the date part for a new 'Just_Date' column
df['Just_Date'] = df['Date'].dt.date

# Group by 'Just_Date' and sum the GHI values for each group
grouped = df.groupby('Just_Date')['GHI'].mean().reset_index()

# Show the grouped DataFrame
print(grouped)

# Save the grouped DataFrame to a new CSV file
grouped.to_csv('grouped.csv', index=False)

In [ ]:
import pandas as pd

# Read both CSV files into DataFrames
df1 = pd.read_csv("Bus_daily_avg.csv")
df2 = pd.read_csv("grouped.csv")



# Convert the date columns to datetime objects
df1['Date'] = pd.to_datetime(df1['Date']).dt.date
df2['Just_Date'] = pd.to_datetime(df2['Just_Date']).dt.date

# Merge the DataFrames based on the date columns
merged_df = pd.merge(df1, df2, left_on='Date', right_on='Just_Date', how='inner')

# drop the 'Just_Date' column
merged_df.drop('Just_Date', axis=1, inplace=True)

# export to csv
merged_df.to_csv('merged.csv', index=False)

In [ ]:

df = pd.read_csv("merged.csv")

df['Date'] = pd.to_datetime(df['Date'])

# Extract month and year from Date
df['YearMonth'] = df['Date'].dt.to_period('M')

# Group by Year-Month and aggregate
grouped_df = df.groupby('YearMonth').agg({
    'daily_avg': ['avg'],
    'GHI': ['avg']
}).reset_index()

# The grouped DataFrame will contain mean and sum of daily_avg and GHI for each month
print(grouped_df)

# Save the grouped DataFrame to a new CSV file
grouped_df.to_csv('grouped_month.csv', index=False)

In [ ]:
# Extract Year from Date
df['Year'] = df['Date'].dt.to_period('Y')

# Group by Year and aggregate
grouped_df_year = df.groupby('Year').agg({
    'daily_avg': ['mean'],
    'GHI': ['mean']
}).reset_index()

# The grouped DataFrame will contain mean and sum of daily_avg and GHI for each year
print(grouped_df_year)

# Save the grouped DataFrame to a new CSV file
grouped_df_year.to_csv('grouped_year.csv', index=False)

In [141]:
df = pd.read_csv("Merged Data.csv")
df.head()

,Date,EL_Solar_BusBarn_Total_KW,Year,Month,Day,Hour,Minute,DHI,DNI,GHI,...,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure,Global Horizontal UV Irradiance (280-400nm),Global Horizontal UV Irradiance (295-385nm)
0,5/14/11 10:00,0.645141,2011,5,14,9,30,111.0,0,111,...,0,0.153,4.8,2.637,347.4,87.01,10.0,980.0,6.6096,5.1946
1,5/14/11 11:00,1.391401,2011,5,14,10,30,102.0,0,102,...,0,0.153,4.9,2.626,344.0,87.61,11.0,980.0,6.1826,4.8646
2,5/14/11 12:00,2.448775,2011,5,14,11,30,101.0,0,101,...,0,0.153,5.1,2.630,342.1,82.46,11.0,980.0,6.1721,4.8589
3,5/14/11 13:00,2.276763,2011,5,14,12,30,148.0,3,151,...,0,0.153,5.2,2.645,341.1,88.34,11.0,980.0,9.2306,7.2668
4,5/14/11 14:00,1.751587,2011,5,14,13,30,236.0,11,246,...,0,0.153,5.2,2.655,340.7,88.54,10.0,980.0,14.9266,11.7455

In [147]:
date_column = 'Date'
ghi_column = 'GHI'
df[date_column] = pd.to_datetime(df[date_column]).dt.date
grouped_data = df.groupby(date_column)[ghi_column].mean().sum()

In [151]:
grouped_data.head()

AttributeError: 'numpy.float64' object has no attribute 'head'

        Date  NonZero_Count
0 1970-01-01          44237